:root {
  --md-admonition-icon--console-output: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><rect x="2" y="2" rx="2" ry="2" width="20" height="14" /><rect x="5" y="5" width="14" height="8" /></svg>');
  --md-annotation-width: 600px;
}
  .md-typeset .admonition.console-output,
  .md-typeset details.console-output {
    border-color: rgba(245, 245, 245, 1);
  }
  .md-typeset .console-output > .admonition-title,
  .md-typeset .console-output > summary {
    background-color: rgba(245, 245, 245, 1);
  }
  .md-typeset .console-output > .admonition-title::before,
  .md-typeset .console-output > summary::before {
    background-color: rgb(196, 196, 196);
    -webkit-mask-image: var(--md-admonition-icon--console-output);
            mask-image: var(--md-admonition-icon--console-output);
  }

  /* reduce top margin for console-output */
  details.console-output {
    margin-top: -20px;
  }
